#login{
        width:100%;
        height:100%;
    }

#login #loginAndRegister{
    width: 100%;
    height: 100%;
}


#login #loginAndRegister{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    justify-items:center;
    align-items:center;
    justify-content:space-evenly;
}

#login #loginAndRegister>div{
    cursor:pointer;
}

#login #dialog_container{
    width: 0px;
    height: 0px;
    z-index:1;
}

#login .actions a{
    font-size: 80%;
    justify-self: end;
}

#login #loginbox>#message{
    display: none;
}

#login #loginbox>div.actions,
#login #registerbox div.actions{
    grid-template-columns: 1fr 1fr 1fr;
}



#login input{
    border: 1px solid rgba(191, 216, 227, .8);
    padding: 5px;
    border-radius: 5px;
    font-size: 110%;
    width: 100%;
}

#login #login_submit{
    padding: 0;
    color: #fff;
    background-color: rgb(54, 134, 169);
    cursor: pointer;
    grid-column: 2;
    height: 30px;
    width: 100%;
}


#login #loginbox{
    display: none;
    position:absolute;
    top:170px;
    right:20px;
    background-color: rgba(191, 216, 227, .4);
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius:8px;
    width:450px;
    padding: 10px;
}


#login #registerbox{
    display:none;
    position:absolute;
    top:170px;
    right:20px;
    background-color: rgba(191, 216, 227, .4);
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius:8px 8px 5px 5px;
    padding: 10px;
    width:450px;
}

#login #loginbox>div,
#login #registerbox div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 5px;
}
@media screen and (min-width:1024px){   /* questa  parte serve per i PC */









}

@media screen and (min-width:800px) and (max-width:1024px){   /* questa  parte serve per i TABLET */

#login #registerbox{
    background-color: rgba(191, 216, 227, .8);
}

#login #loginbox{
    background-color: rgba(191, 216, 227, .8);
}


}

@media screen and (max-width:800px){     /* questa  parte serve per i Telefonini */

#login #registerbox{
    background-color: rgba(191, 216, 227, .8);
}

#login #loginbox{
    background-color: rgba(191, 216, 227, .8);
}




}
