#login{
    width: 100%;
    height: 100%;
}

#login #loginAndRegister{
    width: 100%;
    height: 100%;
}

#login #loginAndRegister>div{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    cursor:pointer;
    text-align: center;
    padding: 50px 0;
}

#login #dialog_container{
    position:absolute;
    width: 0px;
    height: 0px;
}

#login #loginbox{
    display: none;
    position:relative;
    top:30px;
    right:275px;
    background-color: rgba(191, 216, 227, .4);
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius:8px;
    width:450px;
    padding: 10px;
}

#login #registerbox{
    display:none;
    position:relative;
    top:30px;
    right:275px;
    background-color: rgba(191, 216, 227, .4);
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius:8px 8px 5px 5px;
    padding: 10px;
    width:450px;
}

#login #loginbox>div,
#login #registerbox div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 5px;
}

#login #loginbox>div.actions,
#login #registerbox div.actions{
    grid-template-columns: 1fr 1fr 1fr;
}

#login #loginbox>#message{
    display: none;
}

#login input{
    border: 1px solid rgba(191, 216, 227, .8);
    padding: 5px;
    border-radius: 5px;
    font-size: 110%;
    width: 100%;
}

#login #login_submit{
    padding: 0;
    color: #fff;
    background-color: rgb(54, 134, 169);
    cursor: pointer;
    grid-column: 2;
    height: 30px;
    width: 100%;
}

#login .actions a{
    font-size: 80%;
    justify-self: end;
}

@media screen and (min-width:800px) and (max-width:1024px){
    #login #loginAndRegister>div{
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 50%;
        cursor:pointer;
        text-align: center;
        padding: 17px 0 0 0;
    }
}
