#content>.wrapper{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "categories categories categories"
        "left pager basket"
        "left items basket"
        "left pager2 basket";
}


/*              CATEGORIES              */

#categories{
    width: 100%;
    grid-area: categories;
    height: 100px;
    background: linear-gradient(lightgrey, white);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.categoryclass{
    border-bottom: grey 3px solid;
    border-left: lightgrey 3px solid;
    border-right: lightgrey 3px solid;
    cursor: pointer;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    background: linear-gradient( white,#F4FAFB);
    background-color: white;
    border-radius:5px;
    height:50px;
    line-height: 50px;
    min-width: 150px;
    text-align: center;
    display: block;
    align-items: center;
    text-decoration: none;
    color: black;
}

.categoryclass:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px;
}
.categoryclass.active { /*Clicked and held*/
  box-shadow: 0px 5px 6px;
}

/*          END FO CATEGORIES              */

/*          FILTERS              */
#left{
    grid-area:left;
}

#subcategories{
display:flex;
text-align: center;
flex-flow:column nowrap;
}

#subcategories a{
  padding:5px;
  text-decoration: none;
  color:black;
}
#subcategories a.active{
  color:green!important;
}
#subcategories a:hover{

  font-style: italic;
}
#subcategories a:visited{
  padding:3px;
  color:black;

}

#filters{
}

.divfiltri{
 margin-bottom: 30px;
}
.divfiltri div{
  height:30px;
  position:relative;
  display:grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;

}
.divfiltri p{
  padding:5px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.divfiltri label{
  display:inline-block;
  text-align: center;
  width:45%;
  height:100%;
  margin:0;
  padding:0;
}
.divfiltri input{
  display:inline-block;
  text-align: center;
  width:45%;
  height:100%;
  margin:0;
  padding:0;
}
#filterform{

}

#filterform button{
    width: 100%;
}

#price-min, #price-max{
    width: 50px;
}
#pricefilters{
    display:grid;
    grid-template-columns:3fr 2fr 1fr;
    align-items:center;
    justify-items:center;
    size:.5em;
}
#ingredienti{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:minmax(1em, 2em);

    align-items:center;
    justify-items:center;
    grid-row-gap:0.5em;
    align-items:center;

}

/*          END OF FILTERS              */

/*          PAGER               */

.pager{
    grid-area: pager;
    display: flex;
    justify-content: center;
}

#items+.pager{
    grid-area: pager2;
    margin-bottom:20px;
}

.pager>.page{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 3px;
    text-decoration: none;
}

.pager>.page.current{
    background-color: #0b6b10;
}

/*          END OF PAGER               */

/*          ITEMS              */


#items{

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat( auto-fit, minmax(300px, 400px) );
    justify-items:center;
    grid-gap:1em;
    margin:3em;
    grid-area:items;

}

.item{
    position:relative;
display:grid;
grid-template-columns: 1fr 2fr;
grid-template-rows:3fr 1fr 1fr 0fr;
grid-template-areas:
    "foto info"
    "foto more"
    "price cart";
align-items:center;
justify-items:center;
grid-gap:1em;
border-bottom:1px lightgrey solid;
height:280px;
width:280px;
}


.item img{
    grid-area:foto;
    max-height: 100%;
    max-width: 100%;
}
.add_to_cart{
    grid-area:cart;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items:center;
    cursor:pointer;
}
.item_description{
    grid-area:info;
}

.item_price{
    grid-area:price;
}
.item_more{
    grid-area:more;
    cursor:pointer;

}
.item_more_div{
    grid-area:more;
    border:2px red dotted;
    position:absolute;
    top:0;
    left:0;
    background-color: red;

}


.moreabout{
    position:absolute;
    top:95%;
    z-index:1;
    width:100%;
    height:180px;
    background: lightgrey;
    display:none;
    border-radius:10px;

}





.moreabout h2 {
  position: absolute;
  top:10px;
  left:10px;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.moreabout .close {
  position: absolute;
  top:10px;
  right:10px;

  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.moreabout .close:hover {
  color: #06D85F;
  cursor:pointer;
}

.moreabout .contentofdescription {
  position:relative;
  top:40px;
  padding:10px;
  max-height: 30%;
  overflow: auto;
}

/*          END  OF ITEMS       */

/*          BASKET              */


#basket{
    margin-top:25px;
    margin-bottom:25px;
    grid-area:basket;
}

#cart_total{
    display:grid;
    align-items:center;
    grid-template-columns:1fr 1fr;
    height:30px;

}


#basked_wrapper{
    font-size:0.9em;
    padding:30px 5% 0 5%;

}
#basket-fa{
    display:grid;
    justify-items:center;
}
#imgCarello{
    align-self:center;
}


.cartList{
    margin-top:25px;
    margin-bottom:25px;
    display:grid;
    grid-template-rows: repeat(auto-fit, 30px);
}


.inListProduct{
    height:25px;
    border-bottom:lightgrey 1px solid;
    margin :3px 1px;
    display:grid;
    grid-template-columns:1fr 4fr 3fr;

}
.inListProduct>div{
    display: inline-block;
}


#totale_nome{
    float:left;
    margin-left:10px;
}
.nome{
    padding: 0 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prezzo{
    text-align:right;
    margin-right:4px;
    white-space:nowrap;
}

#prezzo_totale{
    float:right;
    margin:4px;
    white-space:nowrap;
}


.inListName{
    overflow: hidden;
    white-space:nowrap;   /*bellissima cosa che fa in modo che quando fai spazio, il resto non va a capo nel caso il nome sia troppo lungo per la riga*/
}

#pay{
    margin-top:25px;
    margin-bottom:25px;
    justify-content: center;
}

#payButton{
    width: 100%;
}

#footer{
    grid-area:footer;
}

@media screen and (max-width:1224px){          /* questa  parte serve per i TABLET */
#content .wrapper{
  grid-template-columns:1fr 3fr;
  grid-template-areas:"categories categories"
                      "pager pager"
                      "left items"
                      "basket items"
                      "pager2 pager2";
  grid-template-rows:auto auto min-content 1fr auto;
}
#items{
  grid-template-columns:1fr;
  grid-template-rows:auto;
}





}

@media screen and (max-width:800px){
  #content .wrapper{
    grid-template-columns: 1fr;
    grid-template-areas:"categories"
                          "left"
                          "pager"
                          "items"
                          "pager2"
                          "basket";
  }
  #categories{
    flex-flow:column;
    height:auto;
  }
  #categories .categoryclass{
    width:70%;
    margin-bottom:15px;
  }
  #items{
    grid-template-columns:1fr;
    grid-template-rows:auto;
    margin:0 0 20px 0;
  }
  #basked_wrapper{
    margin:0;
  }
  #left+.pager{
    margin: 20px 0px;
  }
}
