#profile{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-areas:"user username bars";
    width:100%;
    height:100%;
    justify-items:space-evenly;
    align-items:center;
}

#profile #user{
    grid-area:user;
}

#profile #username{
    grid-area:username;
    self-align:left;
    padding-left:10px;
}

#profile #bars{
    grid-area:bars;
    cursor:pointer;
}

#profile #dialog_container{
    position:absolute;
    width: 0px;
    height: 0px;
}

#profile #dropdownMenu{
    display:none;
    position:relative;
    width:200px;
    top:60px;
    right:0px;
    z-index: 1;
}

#profile #dropdownMenu ul{
    display:grid;
    grid-template-columns:1fr ;
    z-intex:1;
    background-color: rgba(211,211,211);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}

#profile #dropdownMenu ul{
    list-style-type: none;
    font-size:1.5em;
}

#profile .listItem{
    cursor:pointer;
    display:grid;
    grid-template-columns:3fr 1fr ;
    justify-items:center;
    align-items:center;
}

#profile .listItem span{
    align-self:left;
    padding:10px;
}

#profile .listItem i{
    align-self:right;
    padding:10px;
}
