.content .centralBox{
  min-height: 700px;
}
#veil{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgb(128,128,128,0.85);
    z-index:1;
    display:none;
}
#sectionContent{
    grid-area:sectionContent;
    width:100%;
    height:100%;
}


.sezioneMagazziniDiv{
    display:block;
}
#sezioniStatistiche{
    display:none;
}


#sezioniImpostazioni{
    display:none;
}

.divGestionale{
    display:none;
}



#addProductExitButton, #addCategoriaExitButton, #addEmployeeExitButton{
    position:absolute;
    text-align:center;
    top:10px;
    right:10px;
    font-size:1.8em;
    cursor: pointer;
    border:1px grey solid;
    border-radius:5px;
}

#addProductDiv, #addCategoriaDiv, #addEmployeeDiv{
    background-color:white;
    width:600px;
    display:none;
    border:3px lightgrey solid;
    border-radius: 15px;
    justify-items:center;
    align-items:center;
    grid-gap:15px;
    position: absolute;
    top:150px;
    z-index:2;
    justify-content:center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
/*  Lo stile per il desktop lo metto qui e verra aplicato a tutti i tipi di dispositivo, poi per il tablet e mobile sovrascrivo cio che e' diverso */

#gestoreContent{ /* THE WHOLE CONTAINTER*/
    display:grid;
    width:100%;
    grid-template-columns:1fr 2fr 2fr;
    grid-template-rows:150px 1fr;
    grid-template-areas:
        "macrosezioni macrosezioni macrosezioni"
        "sezioni sectionContent sectionContent";

}

/*      MACROSEZIONI      */

#macrosezioni{
    width:100%;
    height:100%;
    grid-area:macrosezioni;
    background: linear-gradient(lightgrey, white);
    display:grid;
    grid-auto-flow:column;
    align-content: center;
    justify-content: space-evenly;
}


.macrosezione{
    display:grid;
    align-items: center;
    justify-items: center;
    padding:10px;
    border-bottom: grey 8px solid;
    border-left: lightgrey 8px solid;
    border-right: lightgrey 8px solid;
    cursor:pointer;
    font-size:0.9em;
    box-shadow: 0px 10px 12px rgba(0,0,0,0.3);
    background: linear-gradient( white,#F4FAFB);
    background-color: white;
    border-radius:15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.macrosezione:hover{ /*Clicked and held*/
  box-shadow: 0px 4px 4px;
}

.macrosezione:active { /*Clicked and held*/
  box-shadow: 0px 7px 7px;
}

#macrosezioni .active{
  box-shadow: 0px 6px 6px;
}








/*      END OF  MACROSEZIONI      */


/*      SEZIONI      */

#sezioni{
    margin:5px;
    font-size:0.8em;
    grid-area:sezioni;
    width:90%;
    padding-bottom:50px;
    display:grid;
    grid-auto-flow:row;
    border: lightgrey 2px solid;
    border-radius:8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

.gruppoDiSezioni{
 display:grid;
 grid-auto-flow:row;
 align-content:start;
 grid-column-gap: 20px;
}


.sezione{
    width:80%;
    height:50px;
    border-bottom: grey 2px solid;
    border-left: lightgrey 2px solid;
    border-right: lightgrey 2px solid;
    cursor:pointer;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    background: linear-gradient( white,#F4FAFB);
    background-color: white;
    border-radius:15px;
    text-align: center;
    display:grid;
    justify-items: center;
    align-items:center;
    margin:15px;
}

.sezione span{

    display:grid;
    justify-items:center;
    align-items:center;
}





.sezione:hover { /*Clicked and held*/
  box-shadow: 0px 7px 7px;
}

.sezione:active { /*Clicked and held*/
  box-shadow: 0px 10px 12px;
}

.gruppoDiSezioni .active{
  box-shadow: 0px 6px 5px;
}






/*      END OF  SEZIONI      */


/*              STATISTICHE             */
/*              STATISTICHE             */
.upperStats{
    font-size:1.5em;
    display:grid;
    width:100%;
    height:80px;
    justify-items:center;
    align-items:center;
    grid-template-columns:1fr 2fr;
    grid-template-areas: "scrittaStats nomeMagazzinoStats";
}

.scrittaStats{
    grid-area:scrittaStats;
}
.nomeMagazzinoStats{
    grid-area:nomeMagazzinoStats;
}



.lowerStats{
    margin-top:15px;
    margin-bottom:15px;
    display:grid;
    width:100%;
    height:80px;
    justify-items:center;
    grid-template-columns:1fr 1fr 1fr;

}
.minisezione {
    height:40px;
    border-bottom: grey 8px solid;
    border-left: lightgrey 8px solid;
    border-right: lightgrey 8px solid;
    cursor:pointer;
    font-size:1.3em;
    box-shadow: 0px 10px 12px rgba(0,0,0,0.3);
    background: linear-gradient( white,#F4FAFB);
    background-color: white;
    border-radius:15px;
    text-align: center;
    display:grid;
    align-items: center;
    padding:10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#statsContainer{
    position:relative;
    width:100%;
    height:500px;

}

.statsImages{
  overflow:hidden;
  height:100%;
  width:100%;
}
.statsImages a{
  height:100%;
  width:100%;
}

#images{
  height:100%;
  width:100%;
}



.statsImages img{
    width:750px;
    height:500px;
}
#statisticheAnnualiDiv{
}
#statisticheSettimanaliDiv{
}
#statisticheMensiliDiv{
}

.fwbw{
    border:2px black solid;
    border-radius:5px;
    display:grid;
    align-items:center;
    jusrify-items:center;
    z-index:1;
}

.niceButton{
    font-size:1.4em;
    cursor: pointer;
    border:1px grey solid;
    border-radius:5px;
    z-index:1;
}

.minisezione.active { /*Clicked and held*/
  box-shadow: 0px 8px 9px;
}

#ColonneOrdini{
}

.ordine{
    display:grid;
    align-items:center;
    justify-items:center;
    grid-template-columns:1fr 2fr 2fr 2fr 1fr 1fr 1fr 2fr 2fr;
    grid-gap:2px;
    height:60px;
}

.ordine div {
            width:100%;
}










/*          END OF STATISTICHE      */
/*          END OF STATISTICHE      */


/*      UPPER       */

.upper {
    display:grid;
    width:100%;
    height:150px;
    justify-items:center;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:
        "scritta scrittaMagazzino"
        "aggiungi nomeMagazzino";
}

.scritta{
    font-size:2em;
    grid-area:scritta;
    display:grid;
    justify-items:center;
    align-items:center;
}

.aggiungi{
    grid-area:aggiungi;
    display:grid;
    justify-items:center;
    align-items:center;
}

.scrittaMagazzino{
    font-size:1.5em;
    grid-area:scrittaMagazzino;
    display:grid;
    justify-items:center;
    align-items:center;
}

.nomeMagazzino{
    grid-area:nomeMagazzino;
    display:grid;
    justify-items:center;
    align-items:center;

}

.pointer{
    cursor:pointer;
}

.pointer:hover{
    box-shadow: 2px 2px 3px;
}

#idMagazzino{
    display:none;
}



/*      END OF UPPER*/

/*      CONTENUTO      */






#sezioneProdottiDiv{
}

#ProdottiLower{
}


/*      FILTRI PRODOTTI     */

#prodottiFiltro{
    border-top:2px grey solid;
    margin-bottom:10px;
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr 1fr;
    height:100px;
    justify-items: center;
    align-items: center;
}

#dipendentiFiltro{
    border-top:2px grey solid;
    margin-bottom:10px;
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr 1fr;
    height:100px;
    justify-items: center;
    align-items: center;
}


/*      TABLES      */
.table{
    display:grid;
    border:3px lightgrey solid;
    width:auto;
    margin:5px;
    padding:15px;
    margin-top:0;
    border-radius: 15px;
    text-align: center;
}




.lineaDiSeparazione{
    height:2px;
    width:100%;
    background-image: radial-gradient( grey, lightgrey, white);
}


#ColonneMagazzini{
}
.magazzino{
    display:grid;
    align-items:center;
    grid-template-columns:2fr 1fr 3fr 1fr 2fr ;
    padding:5px;
    height:60px;
}




#ColonneProdotti{
    font-size:1em;

}
.prodotto{
    display:grid;
    align-items:center;
    grid-template-columns:1fr repeat(4, 3fr) 2fr 2fr 1fr 1fr 1fr 1fr;
    padding:5px;
    height:60px;
}
.prodottoRicVen{
    display:grid;
    align-items:center;
    grid-template-columns:1fr repeat(4, 3fr) 3fr 3fr;
    padding:5px;
    height:60px;

}

#ElencoOrdini{
    font-size:0.8em;
}
#ElencoProdottiRicevuti{
    font-size:0.8em;
}

#ElencoProdottiVenduti{
    font-size:0.8em;
}

#ElencoProdotti{
    font-size:0.8em;
}
#ElencoProdotti{
    font-size:0.8em;
}


#ColonneDipendenti{
}
.dipendente{
    display:grid;
    align-items:center;
    grid-template-columns:1fr repeat(3, 3fr) 2fr 1fr 1fr 1fr;
    padding:5px;
    height:60px;
}

/*      END OF TABLES   */

/*  PRODOTTI LOWER  */


.prodotto div{
    display:grid;
    align-items:center;
    justify-content: center;
    text-align:center;
    width: 100%;
    height:100%;
    overflow: hidden;


}

.prodotto .descr {
    cursor: pointer;
}



.elenco{

    max-height: 1000px;
    overflow:scroll;
}




/*  END OF PRODOTTI LOWER  */




/*      sezioneAggiungiProdottiDiv     */





.insertTitle{
    text-align: center;
    margin:15px;
}

#inserisciProdottoForm{
    display:grid;
    grid-gap:10px;
    grid-template-rows:repeat(11, 1fr);
    self-justify:center;
    justify-items:center;
    margin-bottom:15px;
}

#inserisciProdottoForm div{
    width:100%;
    height:60px;
    display:grid;
    grid-template-columns:1fr 2fr;
    justify-items:center;
    align-items:center;
    justify-content:space-evenly;
}
#image-base64{
}

#addEmployeeDivForm{
    display:grid;
    grid-gap:10px;
    grid-template-rows:repeat(10, 1fr);
    self-justify:center;
    justify-items:center;
    margin-bottom:15px;
}

#addEmployeeDivForm div{
    width:100%;
    height:60px;
    display:grid;
    grid-template-columns:1fr 2fr;
    justify-items:center;
    align-items:center;
    justify-content:space-evenly;
}





#inserisciCategoriaForm{
    display:grid;
    grid-template-rows:2fr 2fr 2fr;
    self-justify:center;
    justify-items:center;
    grid-gap:15px;
    margin-bottom:15px;

}

#inserisciCategoriaForm div{
    width:100%;
    height:60px;
    display:grid;
    grid-template-columns:1fr 2fr;
    justify-items:center;
    align-items:center;
    justify-content:space-evenly;
}









#addCategoriaDiv{
    position:fixed;
    justify-self:center;
    align-self:center;
    border:3px lightgrey solid;
    border-radius: 15px;
    margin-top:0px;
    justify-items:center;
    align-items:center;
    grid-gap:15px;

    display:none;
}



/*  END OF sezioneAggiungiProdottiDiv*/

.noResults{
    margin:10px;
    padding:10px;
}

/*      IMPOSTAZIONI        */
#ProfiloDiv{
    margin:5%;
    margin-top:10%;
    display:grid;
    grid-template-columns:1fr;
    justify-items:center;
    align-items:center;
    justify-content:space-evenly;
    grid-gap:20px;
}
#ProfiloDiv button{
    height:80px;
}



/*      END OF  CONTENUTO      */
#action{
    display:none;
}



@media screen and (max-width:1024px){   /*  TABLET  */


#gestoreContent{ /* THE WHOLE CONTAINTER*/
    display:grid;
    width:100%;
    grid-template-rows:80px 80px auto;
    grid-template-columns:1fr;
    grid-template-areas:
        "macrosezioni"
        "sezioni"
        "sectionContent";
        justify-content: center;
    }



#sezioni{
    grid-auto-flow:column;
    justify-content: space-evenly;
    width:100%;
    border: none;
    border-top:lightgrey 2px solid;
    border-radius:0;
    margin:0;
    }

.gruppoDiSezioni{

 grid-auto-flow:column;
 align-content:start;
 grid-column-gap: 20px;
 align-content: center;



 }
 .sezione{
 width:auto;
 height:auto;
 padding:10px;
}


#addProductDiv, #addCategoriaDiv, #addEmployeeDiv{
    width:600px;

  }






@media screen and (max-width:800px){    /*      TEELFONO   penso che resta uguale alla parte per il tablet... */

  #addProductDiv, #addCategoriaDiv, #addEmployeeDiv{
      width:100%;
      max-width:600px;
    }
}

}
