#gestoreContent{ /* THE WHOLE CONTAINTER*/
    display:grid;
    width:100%;
    justify-items:center;
    grid-template-columns:1fr 2fr 2fr;
    grid-template-rows:150px auto;
    grid-template-areas:
        "macrosezioni macrosezioni macrosezioni"
        "sezioni sectionContent sectionContent";
  
}

/*      MACROSEZIONI      */
#macrosezioni{
    grid-area:macrosezioni;
    width:100%;
    background: linear-gradient(lightgrey, white);
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-auto-flow:row;
}



.macrosezione {
    border-bottom: grey 8px solid;
    border-left: lightgrey 8px solid;
    border-right: lightgrey 8px solid;
    cursor:pointer;
    font-size:2em;
    box-shadow: 0px 10px 12px rgba(0,0,0,0.3);
    background: linear-gradient( white,#F4FAFB);
    background-color: white;
    border-radius:15px;
    text-align: center;
    display:grid;
    align-items: center;
    margin:30px;
    padding:10px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    
}
.macrosezione.active {
    box-shadow: 0px 12px 20px;
    
}
.macrosezione:active { /*Clicked and held*/
  box-shadow: 0px 8px 9px;
}
/*      END OF  MACROSEZIONI      */


/*      SEZIONI      */
#sezioni{
    grid-area:sezioni;
    width:100%;
    display:grid;
    border-right: lightgrey 2px solid;
    border-top: lightgrey 2px solid;
    border-radius:15px;
    padding-top:10px;
    
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#sezioniStatistiche{
    display:grid;
    justify-items: center;
    align-content:start;
    display:none;
    
}

#sezioniAmministrazione{
    display:grid;
    justify-items: center;
    align-content:start;
    
}

#sezioniImpostazioni{
    display:grid;
    justify-items: center;
    align-content:start;
    display:none;
}

.sezione{
    width:80%;
    height:80px;
    border-bottom: grey 2px solid;
    border-left: lightgrey 2px solid;
    border-right: lightgrey 2px solid;
    cursor:pointer;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    background: linear-gradient( white,#F4FAFB);
    background-color: white;
    border-radius:15px;
    text-align: center;
    display:grid;
    justify-items: center;
    align-items:center;
    margin:15px;
    
}

.sezione:hover { /*Clicked and held*/
  box-shadow: 0px 7px 7px;
}

.sezione:active { /*Clicked and held*/
  box-shadow: 0px 10px 12px;
}

.sezione.active {
    box-shadow: 0px 8px 10px;
    
}

/*      END OF  SEZIONI      */

/*      UPPER       */

.upper { 
    display:grid;
    width:100%;
    height:150px;
    justify-items:center;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:
        "scritta scrittaMagazzino"
        "aggiungi nomeMagazzino";
}

.scritta{
    font-size:2em;
    grid-area:scritta;
    display:grid;
    justify-items:center;
    align-items:center;
}

.aggiungi{
    grid-area:aggiungi;
    display:grid;
    justify-items:center;
    align-items:center;
}

.scrittaMagazzino{
    font-size:1.5em;
    grid-area:scrittaMagazzino;
    display:grid;
    justify-items:center;
    align-items:center;
}

.nomeMagazzino{
    grid-area:nomeMagazzino;
    display:grid;
    justify-items:center;
    align-items:center;
    
}


/*      END OF UPPER*/

/*      CONTENUTO      */
#sectionContent{
    grid-area:sectionContent;
    width:100%;
    height:100%;
}


.sezioneMagazziniDiv{
    display:block;
}





.sezioneProdottiDiv{
    display:grid;
}

#ProdottiLower{
    font-size:0.8em;
}


/*      FILTRI PRODOTTI     */

#prodottiFiltro{
    border-top:2px grey solid;
    margin-bottom:10px;
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr 1fr;
    height:100px;
    justify-items: center;
    align-items: center;
}

#dipendentiFiltro{
    border-top:2px grey solid;
    margin-bottom:10px;
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr 1fr;
    height:100px;
    justify-items: center;
    align-items: center;
}


/*      TABLES      */
.table{
    display:grid;
    border:3px lightgrey solid;
    width:auto;
    margin:5px;
    padding:15px;
    margin-top:0;
    border-radius: 15px;
}

.table{
    text-align: center;
}


.lineaDiSeparazione{
    height:2px;
    width:100%;
    background-image: radial-gradient( grey, lightgrey, white);
}


#ColonneMagazzini{
    font-size:1.2em;
}
.magazzino{
    display:grid;
    align-items:center;
    grid-template-columns:1fr 2fr 1fr 3fr 1fr 2fr;
    padding:5px;
    height:60px;
}




#ColonneProdotti{
    font-size:1em;

}
.prodotto{
    display:grid;
    align-items:center;
    grid-template-columns:1fr repeat(4, 3fr) 2fr 2fr 1fr 1fr 1fr 1fr;
    padding:5px;
    height:60px;
}


#ColonneDipendenti{
    font-size:1.2em;
}
.dipendente{
    display:grid;
    align-items:center;
    grid-template-columns:1fr repeat(3, 3fr) 2fr 1fr 1fr 1fr;
    padding:5px;
    height:60px;
}

/*      END OF TABLES   */

/*  PRODOTTI LOWER  */


.prodotto div{
    display:grid;
    align-items:center;
    justify-content: center;
    text-align:center;
    width: 100%;
    height:100%;
    overflow: hidden;
    
  
}

.prodotto .descr {
    cursor: pointer;
}




#ElencoProdotti{
    max-height:1200px;
    overflow:auto;
}
                    
 
/*  END OF PRODOTTI LOWER  */




/*      sezioneAggiungiProdottiDiv     */
#addProductDiv{
    border:3px lightgrey solid;
    border-radius: 15px;
    display:grid;
    margin:15px;
    margin-top:0px;
    justify-items:center;
    align-items:center;
    grid-gap:15px;
    
    display:none;
}

#inserisciProdotto{
    display:grid;
    grid-gap:10px;
    grid-template-rows:repeat(10, 1fr);
    width:60%;
    justify-items:center;
}

#inserisciProdotto div{
    width:100%;
    height:60px;
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-items:center;
    align-items:center;
    justify-content:space-evenly;
}

#addCategoriaDiv{
   
    border:3px lightgrey solid;
    border-radius: 15px;
    display:grid;
    margin:15px;
    margin-top:0px;
    justify-items:center;
    align-items:center;
    grid-gap:15px;
    
    display:none;
}



/*  END OF sezioneAggiungiProdottiDiv*/

.noResults{
    margin:10px;
    padding:10px;
}



/*      END OF  CONTENUTO      */
#action{
    display:none;
}

.divGestionale{
    display:none;
}
