#content{
    height:800px;/* sovrascrive l altezza del content, e lo fa piu corto, tanto nella schermata di home non abbiamo tante cose*/
    background-image: url(/download/background);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #292c2f;
}

#message_box{
    margin-top: 30px;
    padding: 10px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(191, 216, 227);
    background-color: rgba(191, 216, 227, 1);
    color: red;
    font-weight: bold;
    text-align: center;
}

#dialog{
    width:500px;
    margin-top:10%;
    border-radius: 5px;
    border: 1px solid rgb(191, 216, 227);
    background-color: rgba(191, 216, 227, .4);
    overflow: hidden;
}

#dialog h1{
    border-bottom: 1px solid rgb(191, 216, 227);
    background-color: rgba(191, 216, 227, 0.6);
    padding: 10px;
    font-size: 24px;
    line-height: 1.4;
    text-align:center;
}

#dialog input[type="submit"]{
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius: 5px;
    color: #fff;
    background-color: rgb(54, 134, 169);
    font-size: 110%;
    cursor: pointer;
}

#dialog input[type="text"],
#dialog input[type="password"]{
    border: 1px solid rgba(191, 216, 227, .8);
    padding: 5px;
    border-radius: 5px;
    font-size: 110%;
    width: 100%;
}

#dialog input[type="submit"]{
    grid-column: 2;
}

#dialog .actions a{
    justify-self: end;
    font-size: 80%;
}

#dialog #start{
    width: 500px;
    cursor: pointer;
}

#dialog #guest_address{
    display: none;
}

#add_location{
    grid-column-end: span 2;
    width: auto;
    padding: 10px;
}

#add_location>div:not(.message){
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 5px;
}

#add_location>div.actions {
    grid-template-columns: 1fr 1fr 1fr;
}

#dialog #user_address{
    display: none;
}

#dialog #user_address #location{
    min-height: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#dialog #user_address #actions{
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

#dialog #user_addresses{
    display: none;
}

#dialog #user_addresses #locations{
    padding: 5px;
}

#dialog #user_addresses .location{
    min-height: 40px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}

#dialog #user_addresses .location:hover{
    border: 1px solid rgb(191, 216, 227);
    background-color: rgba(191, 216, 227, 0.6);
    border-radius: 5px;
}

#dialog #user_addresses .button{
    margin:5px 25.5%;
}

#dialog #new_user_address{
    display: none;
}
