*{
    margin:0px;
    padding:0px;
}

html, body{
    font-size: 16px;
    font-family: sans-serif;
}

.message_ok{
    color:green;
}

.message_error{
    color:red;
}

.button{
    padding: 0;
    color: #fff;
    background-color: rgb(54, 134, 169);
    cursor: pointer;
    grid-column: 2;
    height: 30px;
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius: 5px;
    font-size: 110%;
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    line-height: 27px;
    text-align: center;
}

label{
  margin-bottom: 10px;
  display: block;
}

input{
    background-color: white;
}

input[type=text]{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    color: black;
    display: block;
    height: 30px;
}

/* questa  parte serve per i PC */
#header{
    background-color: rgb(211,211,211);
    height: 120px;
    width:100%;
    display:grid;
    justify-content: center;
    overflow: hidden;
}

#banner{
    background: #ef3737;
    width: 100%;
}

#banner span{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin: 30px 0;
    display: block;
}

#content{
    width:100%;
    min-height:600px;
    overflow: hidden;
}

.wrapper{
  width:1224px;
  margin: 0 auto;
}

#header .wrapper{
  height:100%;
  display:grid;
  grid-template-columns:min-content auto min-content;
  justify-content: stretch;
  grid-column-gap: 2%;
  overflow:hidden;
}

#logobox{
    height:100%;
    width:200px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;
    cursor:pointer;
}

#header #titlebox{
    overflow: hidden;
    display:grid;
    align-content: center;
}

#header #profilebox{
    height:100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

#logoimg{
    width:100%;
    max-height:100%;
    max-width:100%;
}

#logowriting{
    width:100%;
    max-height:100%;
    max-width:100%;
}


@media screen and (max-width:1224px){          /* questa  parte serve per i TABLET */
    .wrapper{
        width:100%;
    }
    #header .wrapper{
        grid-template-columns:2fr 1fr;
    }
    #content .wrapper{
        justify-self:stretch;
    }

    #logobox{
        display: none;
    }




    #header #titlebox{
        height:90%;
        width:90%;
        display: inline-block;
        overflow: hidden;
        display:grid;
        justify-items:center;
        align-items:center;
    }

    @media screen and (max-width:800px){     /* questa  parte serve per i Telefonini */

        #header .wrapper{
            display:grid;
            grid-template-columns:auto min-content;
            align-content:center;
            justify-content:space-around;
        }

        #header #titlebox{
            display: none;
        }

        #header #logobox{
            width:90%;
            height:90%;
            display:grid;
            justify-items:center;
            align-items:center;
        }

        #profilebox{
            width:100%;
            height:100%;
            display:grid;
            justify-items:center;
            align-items:center;
        }
    }
}
