*{
    margin:0px;
    padding:0px;
}

.message_ok{
    color:green;
}

.message_error{
    color:red;
}

.button{
    padding: 0;
    color: #fff;
    background-color: rgb(54, 134, 169);
    cursor: pointer;
    grid-column: 2;
    height: 30px;
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius: 5px;
    font-size: 110%;
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    line-height: 27px;
    text-align: center;
}

html,
body{                         /* questa prima categoria serve per i telefoni*/
    font-size: 16px;
    font-family: sans-serif;
}

body{
    display:grid;
    grid-template-rows: 120px 8fr 100px;
    grid-template-areas: "header" "content" "footer";
}

#header{
    background-color: rgb(211,211,211);
    height: 130px;
}

#logoimg,
#logowriting{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:800px) and (max-width:1024px){         /* questa categoria serve per i tablet*/
    body{
        font-size: 26px;
    }

    #header #logobox{
        display: none;
    }

    #header #titlebox{
        width:600px;
        height:100%;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        padding: 5px;
        box-sizing: border-box;
    }

    #header #profilebox{
        width:200px;
        height: 100%;
        vertical-align: top;
        display: inline-block;
        right: 0;
        position: absolute;
    }

    #content{
        display:grid;
        width:100%;
        min-height:600px;
    }

}

@media screen and (min-width:1024px){   /* questa  categoria serve per i PC */
    #content{
        display:grid;
        width:100%;
        height:1600px;
    }

    .centralbox{
        width: 1024px;
        height: 100%;
        margin: auto;
    }

    #header #logobox{
        width: 200px;
        height: 100%;
        padding: 5px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        box-sizing: border-box;
    }

    #header #titlebox{
        width:624px;
        height:100%;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        padding: 5px;
        box-sizing: border-box;
    }

    #header #profilebox{
        width:200px;
        height:100%;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
    }
}
