#title{
    display:grid;
    height:100px;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    font-family: gotham;
    font-style: italic;
    
   
}
/*       NON LOGGED USER PART       */

.enterCode{
    border:2px solid black;
    box-sizing: border-box;
    text-align:center;
    vertical-align: middle;
    padding:20px;
    grid-gap:20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center; 
    border-bottom: none;
    font-size: 1.2em;
    font-family: gotham;
    font-style: italic;
}











/*      END OF NON LOGGED USER PART         */

.ordersBox{
    border:2px solid black;
}

.Columns{
    box-sizing: border-box;
    text-align:center;
    vertical-align: middle;
    height:50px;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr 2fr;
    align-items:center;    
    background-color: lightgrey;
}

.orders{
    overflow: scroll;
    max-height: 800px;
}
.orders > div:nth-child(even) > div:first-child {
    background-color: lightgrey;
}
.ordineEntry i {
    cursor:pointer;
}

.ordineEntry{
    min-height:60px;
}
.orderDetails{
    text-align:center;
    vertical-align: middle;
    box-sizing: border-box;
    height:60px;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows:auto;
    align-items:center;    
}

.productsDetails{
    display:none;
}
.productsDetails > div:nth-child(even) {
    background-color: lightgrey;
}
.product{
    box-sizing: border-box;
    text-align:center;
    vertical-align: middle;
    height:30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items:center; 
}


.productsOfOrder{
    max-height: 300px;
    overflow:scroll;
}







