#checkout{
    padding: 20px;
    display: flex;
    box-sizing: border-box;
}

#checkout #main_content{
    flex: 2 1;
}

#checkout .container{
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#checkout .title{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#checkout .element_wrapper{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-bottom: 40px;
}

#checkout .element{
    font-size: 1.3rem;
    margin: 10px;
    display: flex;
}

#checkout .label{
    width: 33%;
}

#checkout .actions{
    display: flex;
    justify-content: space-around;
    padding: 15px 0 5px 0;
}

#checkout #address{
}

#checkout #address #addresses_list{
    display: none;
}

#checkout .saved_address{
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}

#checkout .saved_address:hover{
    border: 1px solid rgb(191, 216, 227);
    background-color: rgba(191, 216, 227, 0.6);
    border-radius: 5px;
}

#checkout #payment{
    display: none;
}

#checkout #payment .element_wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#checkout .payment_element{
    width:130px;
    height: 95px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding:10px;
    border-radius:5px;
    border:1px grey solid;
    cursor: pointer;
    margin-bottom: 10px;
}

#checkout .payment_element:active, #checkout .payment_element:hover, #checkout .payment_element.active{ /*Clicked and held*/
    box-shadow: 0px 5px 6px;
}

#checkout .payment_method{
    display: none;
}

#checkout #next{
    display: none;
}

#checkout .hidden{
    display: none;
}

#paga{
    font-size: 1.5em;
    padding:10px;
    height: 50px;
}


#checkout #cart a{
    text-decoration:none;
}

#checkout #cart{
    flex: 1 0;
    margin: 0;
}

#checkout span.price{
    float: right;
    color: grey;
}
