.content .centralBox{
  min-height: 700px;
}
#veil{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgb(128,128,128,0.85);
    z-index:1;
    display:none;
}
#ProfiloContent{
  display:grid;
  justify-content: center;
}
#workInProgress{
  margin-top:100px;
}
