.wrapper{
    display:grid;
    grid-template-columns:1fr 4fr 1fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
    "categories categories categories"
    "filters items basket"
}


/*              CATEGORIES              */

#categories{
    min-width:100%;
    grid-area:categories;
    height:100px;
    background: linear-gradient(lightgrey, white);
    display:grid; align-items: center; justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}

.categoryclass{

    border-bottom: grey 3px solid;
    border-left: lightgrey 3px solid;
    border-right: lightgrey 3px solid;
    cursor:pointer;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    background: linear-gradient( white,#F4FAFB);
    background-color: white;
    border-radius:5px;
    height:50px;
    min-width: 150px;
    text-align: center;
    display:grid; align-items: center;

}
.categoryclass:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px;
}

/*          END FO CATEGORIES              */

/*          FILTERS              */

#filters{
    padding:10px;
    grid-area:filters;
    display:grid;
}

.divfiltri{
    margin-top:1em;
    margin-bottom:1em;

}
#filterform{
    padding:10px;

}
#price-min, #price-max{
    width: 50px;
}
#pricefilters{
    display:grid;
    grid-template-columns:3fr 2fr 1fr;
    align-items:center;
    justify-items:center;
    size:.5em;
}
#ingredienti{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:minmax(1em, 2em);

    align-items:center;
    justify-items:center;
    grid-row-gap:0.5em;
    align-items:center;

}

/*          END OF FILTERS              */

/*          ITEMS              */


#items{

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat( auto-fit, minmax(300px, 400px) );
    justify-items:center;
    grid-gap:1em;
    margin:3em;

}

.item{
    position:relative;
display:grid;
grid-template-columns: 1fr 2fr;
grid-template-rows:3fr 1fr 1fr 0fr;
grid-template-areas:
    "foto info"
    "foto more"
    "price cart";
align-items:center;
justify-items:center;
grid-gap:1em;
border-bottom:1px lightgrey solid;
max-height: 300px;
max-width: 300px;
}


.item img{
    grid-area:foto;
    max-height: 100%;
    max-width: 100%;
}
.add_to_cart{
    grid-area:cart;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items:center;
    cursor:pointer;
}
.item_description{
    grid-area:info;
}

.item_price{
    grid-area:price;
}
.item_more{
    grid-area:more;
    cursor:pointer;

}
.item_more_div{
    grid-area:more;
    border:2px red dotted;
    position:absolute;
    top:0;
    left:0;
    background-color: red;

}


.moreabout{
    position:absolute;
    top:95%;
    z-index:1;
    width:100%;
    height:180px;
    background: lightgrey;
    display:none;
    border-radius:10px;

}





.moreabout h2 {
  position: absolute;
  top:10px;
  left:10px;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.moreabout .close {
  position: absolute;
  top:10px;
  right:10px;

  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.moreabout .close:hover {
  color: #06D85F;
  cursor:pointer;
}

.moreabout .contentofdescription {
  position:relative;
  top:40px;
  padding:10px;
  max-height: 30%;
  overflow: auto;
}

/*          END  OF ITEMS       */

/*          BASKET              */


#basket{
    grid-area:basket;
    display:grid;
    justify-items: center;
}

#cart_total{
    height:30px;
}


#basked_wrapper{
    width:90%;
    display:grid;
    grid-template-rows: 200px auto;
    height:700px;


}
#basket-fa{
    display:grid;
    grid-template-rows:3fr 1fr;
    justify-items:center;

}
#imgCarello{
    align-self:center;
}


.nameOfCart{
    cursor:pointer;
}

.cartList{
    display:grid;
    grid-template-rows: repeat(auto-fit, 30px);
}


.inListProduct{
    height:25px;
    border-bottom:lightgrey 1px solid;
    margin :3px 1px;
    display:grid;
    grid-template-columns:1fr 1fr 4fr 3fr;

}



#totale_nome{
    float:left;
    margin-left:10px;
}
.prezzo{
    text-align:right;
    margin-right:4px;
    white-space:nowrap;
}

.prezzo_totale{
    float:right;
    margin:4px;
    white-space:nowrap;
}


.inListName{
    overflow: hidden;
    white-space:nowrap;   /*bellissima cosa che fa in modo che quando fai spazio, il resto non va a capo nel caso il nome sia troppo lungo per la riga*/
}



#footer{
    grid-area:footer;
}
