
*{
    margin:0;
    padding:0;
}
.spesaContent{
    display:grid;
    grid-template-columns:2fr 4fr 3fr 2fr;
    grid-template-rows: 120px 1fr 8fr 1fr;
    grid-template-areas:
    "logo search profile profile"
    "categories categories categories categories"
    "filters items items basket"
    "footer footer footer footer";
}


#search{
    font-size:1.3em;
    color:darkblue;
    grid-area:search;
    display:grid; align-items: center; justify-items: center;
    background-color:lightblue;
    
    
}

#profile{
    grid-area:profile;
    background-color:lightblue;
    display:grid; align-items: center; justify-items: center;
    grid-template-columns:minmax(min-content,33%) minmax(min-content,33%) minmax(max-content, 60%);
}
#shoppingbasketimg{
    cursor:pointer;
}
#listimg{
    cursor:pointer;
}
#profileimg{
    cursor:pointer;
}

#categories{
    grid-area:categories;
    min-height:100px;
    background: linear-gradient(lightblue, white);
    display:grid; align-items: center; justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
}

.categoryclass{
    
    border-bottom: grey 3px solid;
    border-left: lightgrey 3px solid;
    border-right: lightgrey 3px solid;
    cursor:pointer;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    background: linear-gradient( white,#F4FAFB);
    background-color: white;
    border-radius:5px;
    height:50px;
    min-width: 150px;
    text-align: center;
    display:grid; align-items: center;
    
}
.categoryclass:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px;
}


#filters{
    padding:10px;
    grid-area:filters;
    display:grid;
}

.divfiltri{
    margin-top:1em;
    margin-bottom:1em;
    
}
#filterform{
    padding:10px;
    
}
#price-min, #price-max{
    width: 50px;
}
#pricefilters{
    display:grid;
    grid-template-columns:3fr 2fr 1fr; 
    align-items:center;
    justify-items:center;
    size:.5em;	
}
#ingredienti{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:minmax(1em, 2em);
    
    align-items:center;
    justify-items:center;
    grid-row-gap:0.5em;
    align-items:center;
    
}




#items{
    grid-area:items;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1em;
    margin:3em;
}
.item{
display:grid;
grid-template-columns: 1fr 2fr;
grid-template-rows:3fr 1fr 1fr;
grid-template-areas:
    "foto description"
    "foto more"
    "price cart";
align-items:center;
justify-items:center;
grid-gap:1em;
border-bottom:1px lightgrey solid;
}


.item img{
    grid-area:foto;
    max-height: 100%;
    max-width: 100%;
}
.add_to_cart{
    grid-area:cart;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items:center;
    cursor:pointer; 
}
.item_description{
    grid-area:description;
}

.item_price{
    grid-area:price;
}
.item_more{
    grid-area:more;
    cursor:pointer;
}
.item_more_div{
    grid-area:more;
    border:2px red dotted;
    position:absolute;
    top:0;
    left:0;
    background-color: red;
    
}

#cart_total{
    height:30px;
}



#basket{
    grid-area:basket;
    display:grid;
    justify-items: center;
}



#basked_wrapper{
    width:90%;
    display:grid;
    grid-template-rows: 200px repeat(auto-fit, 30px);
    height:700px;
    
    
}
#basket-fa{
    display:grid;
    grid-template-rows:3fr 1fr;
    justify-items:center;   
   
}
#imgCarello{
    align-self:center;   
}


.nameOfCart{
    cursor:pointer;
}


.inListProduct{
    height:25px;
    border-bottom:lightgrey 1px solid;
    margin :3px 1px;
    display:grid;
    grid-template-columns:1fr 1fr 4fr 3fr;
    
}



#totale_nome{
    float:left;
    margin-left:10px;
}
.prezzo{
    text-align:right;
    margin-right:4px;
    white-space:nowrap;
}

.prezzo_totale{
    float:right;
    margin:4px;
    white-space:nowrap;
}


.inListName{
    overflow: hidden;
    white-space:nowrap;   /*bellissima cosa che fa in modo che quando fai spazio, il resto non va a capo nel caso il nome sia troppo lungo per la riga*/
}



#footer{
    grid-area:footer;
}

