<?php

global $config;

$config['smarty']['template_dir'] = 'templates/';
$config['smarty']['compile_dir'] = 'libs/smarty/templates_c/';
$config['smarty']['config_dir'] = 'libs/smarty/configs/';
$config['smarty']['cache_dir'] = 'libs/smarty/cache/';
$config['smarty']['caching'] = false;

$config['debug'] = false;
$config['mysql']['user'] = 'root';
$config['mysql']['password'] = 'password';
$config['mysql']['host'] = 'host';
$config['mysql']['database'] = 'progr_web';
