<?php

global $config;

/*$config['smarty']['template_dir'] =
'templates/main/template/';
$config['smarty']['compile_dir'] =
'templates/main/templates_c/';
$config['smarty']['config_dir'] =
'templates/main/configs/';
$config['smarty']['cache_dir'] =
'templates/main/cache/';*/

$config['debug'] = false;
$config['mysql']['user'] = 'root';
$config['mysql']['password'] = 'password';
$config['mysql']['host'] = 'host';
$config['mysql']['database'] = 'progr_web';
